/* Add CSS styles here! */

body {
  font-family: sans-serif;
  background: royalblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vw;
}

#quote-box {
  width: 300px;
  border-radius: 3px;
  background-color: cornsilk;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;

  

}

#text {
  color: royalblue;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: large;
  text-align: center;
  vertical-align: baseline;
}

#author {
  color: royalblue;
  font-size: 1em;
  text-align: right;
  padding-top: 20px;


}

button {
  color: royalblue;
  float:right;
  margin-top: 30px;
  height: 38px;
  font-size: .85em;
  padding: 8 18 6 18;
  cursor: pointer;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

